pkgbase = docker-tray
	pkgdesc = Small Docker tray utility
	pkgver = 0.2.15
	pkgrel = 1
	url = https://github.com/spka/docker-tray
	arch = any
	license = MIT
	depends = docker
	depends = gtk3
	depends = libayatana-appindicator
	depends = python
	depends = python-gobject
	depends = python-pillow
	depends = python-pystray
	depends = polkit
	source = docker-tray-0.2.15.tar.gz::https://github.com/spka/docker-tray/archive/refs/tags/v0.2.15.tar.gz
	source = docker-tray.service
	sha256sums = afb90b56797d0611bf1751eb1049dc0f6ec21e4768f3f07ca66a769251d58049
	sha256sums = c115183a465aa4c0a5ad7a6da7a7a66642d8f4a2d266cd698c39216fd865900c

pkgname = docker-tray
